html {
    scroll-behavior: smooth;
}
.slide::-webkit-scrollbar{
  width: 10px;
  height:3px;
}
.slide::-webkit-scrollbar-track {
  background: transparent;
}
.slide::-webkit-scrollbar-thumb {
    border-radius: 80px;}
.slide::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.border_list::-webkit-scrollbar{
    width:4px;
}
.border_list::-webkit-scrollbar-thumb{
    border-radius: 80px;
}
.border_list::-webkit-scrollbar-track {
    background: transparent;
}
.border_list > *:not(:last-child){
    border-bottom:1px solid #e5e7eb7e;
}
.border_list{
    max-height:320px;
}

.search_spinner {
    -webkit-animation: rotator 1.4s linear infinite;
            animation: rotator 1.4s linear infinite;
}
.video_close{
    position:absolute;
    top:50px;
    right:50px;
}
.trailer{
    width:100vw;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    backdrop-filter:blur(20px);
}
/*.video_responsive{
    padding:40% 12% 40% 12%;
}*/
@media only screen and (max-width:444px){
    .video_responsive{
        padding:40% 12% 40% 12%;
    }
}
@media only screen and (min-width:444px){
    .video_responsive{
        padding:22% 18% 22% 18% ;
    }
}
@media only screen and ( min-width:600px){
    .video_responsive{
        padding:20% 19% 20% 19%;
    }
}
@media only screen and (min-width:715px){
    .video_responsive{
        padding:10% 25% 10% 25%;
    }
}
  
  @keyframes rotator {
    0% {
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg);
    }
    100% {
      -webkit-transform: rotate(270deg);
              transform: rotate(270deg);
    }
  }
  .path {
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    -webkit-transform-origin: center;
        -ms-transform-origin: center;
            transform-origin: center;
    -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
            animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
  }
  
  @-webkit-keyframes colors {
    0% {
      stroke: #4285F4;
    }
    25% {
      stroke: #DE3E35;
    }
    50% {
      stroke: #F7C223;
    }
    75% {
      stroke: #1B9A59;
    }
    100% {
      stroke: #4285F4;
    }
  }
  
  @keyframes colors {
    0% {
      stroke: #4285F4;
    }
    25% {
      stroke: #DE3E35;
    }
    50% {
      stroke: #F7C223;
    }
    75% {
      stroke: #1B9A59;
    }
    100% {
      stroke: #4285F4;
    }
  }
  @-webkit-keyframes dash {
    0% {
      stroke-dashoffset: 187;
    }
    50% {
      stroke-dashoffset: 46.75;
      -webkit-transform: rotate(135deg);
              transform: rotate(135deg);
    }
    100% {
      stroke-dashoffset: 187;
      -webkit-transform: rotate(450deg);
              transform: rotate(450deg);
    }
  }
  @keyframes dash {
    0% {
      stroke-dashoffset: 187;
    }
    50% {
      stroke-dashoffset: 46.75;
      -webkit-transform: rotate(135deg);
              transform: rotate(135deg);
    }
    100% {
      stroke-dashoffset: 187;
      -webkit-transform: rotate(450deg);
              transform: rotate(450deg);
    }
  }